<%- include('../_layouts/adminheader'); -%>
<h2 class="page-title">Upcome Books</h2>
<a href="/admin/upcomeproducts/add-upcomeproduct" class="btn btn-primary">Add a new upcome book</a>
<br><br>

<% if (count > 0) { %>
<table class="table table-striped alignmiddle">
    <thead>
        <tr class="home">
            <th>Book Title</th>
            <th>Category</th>
            <th>Book Image</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>

        <% products.forEach(function(product){ %>
        <tr>
            <td><%= product.title %></td>
            <td><%= product.category %></td>
            <td>
                <% if (product.image == "") { %>
                <img id="noimage" src="/images/noimage.png">
                <% } else {%>
              
              <img id="noimage" src="/product_images/<%= product._id %>/<%= product.image %>">
                <% }%>
            </td>
            <td><a href="/admin/upcomeproducts/edit-upcomeproduct/<%= product._id %>">Edit</a></td>
            <td><a class="confirmDeletion" href="/admin/upcomeproducts/delete-upcomeproduct/<%= product._id %>">Delete</a></td>
        </tr>
        <% }); %>
    </tbody>
</table>
<% }  %>
<%- include('../_layouts/adminfooter'); -%>