<!DOCTYPE html>
<html lang="en">
    <head>
         <meta charset="utf-8">
       
        <meta name="viewport" content="width=device-width, initial-scale=0.67" />

    <title>LightKeeprs-Burma</title>
    <link rel="icon" type="image/x-icon" href="/icon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Varela+Round">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!--signin css-->
   <link rel="stylesheet" href="/css/login.css" />

    <!--call the stylesheet css part-->
    <link rel="stylesheet" href="/css/style.css" />
 
    <link rel="stylesheet" href="/css/test.css">
     <link rel="stylesheet" href="/css/layer.css" />
    </head>

    <body>
    <style>
    .search-btn {
    display: flex;
    text-align: center;
    height: 51px;
    width: 40px;
    outline: none;
    cursor: pointer;
    border: 0px;
    border-radius: 10px;
    margin-right:60px;
    margin-top:-35px;
    border-left: none;
    background: none;
    font-size: 20px;
    border-left: 0px;
   
}
    </style>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <div class="icon">
            <img src="/images/lighthouse.jpg" alt="Logo Image">
        </div>

        <a href="#" class="navbar-brand">Lightkeepers-<b>Burma</b></a>
                </div>
                        <!--toggle button for switch language-->
      <!--  <label class="switch">
           <select>
													 <option class="dropdown-item languageOption selectedLang" href="javascript:void(0)" data-lang="en" data-text="English"> English</option>
													 <option class="dropdown-item languageOption notSelectedLang" href="javascript:void(0)" data-lang="es" data-text="Espanol"> Espanol</option>
													 <option class="dropdown-item languageOption notSelectedLang" href="javascript:void(0)" data-lang="fr" data-text="French"> French</option>
																</select>
                        <div id='google_translate_element'></div>
											
        </label> -->
        <div id='google_translate_element'></div>

           <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
            <div class="navbar-nav">
                <a href="/" class="nav-item nav-link cat1"> Home-Page</a>
                <div class="nav-item dropdown">
                    <a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle cat2">Categories</a>
                 
                    <div class="dropdown-menu">
                    <li><a id="GFG" href="/products">&nbsp;&nbsp;&nbsp;All categories</a></li>
                        <% categories.forEach(function(c){ %>
                            <li class="list-group-item"><a id="GFG" href="/products/<%= c.slug %>"><%= c.title %></a></li>
                        <% }); %>


                    </div>
                </div>
                <!--<a href="#" class="nav-item nav-link active">Blog</a>-->
                
                 <a href="/users/contact" class="nav-item nav-link cat5">Contact<b style="color:#f2f4f5">1</b></a>
                <a href="/art" class="nav-item nav-link cat4">Collections</a>
             
                <% if (user) { %>
                <a href="/users/plan" class="nav-item nav-link cat6">Payment</a>
                <% } else {%>
                 <a href="/users/plan" class="nav-item nav-link cat6">Payment</a>
                <% }%>
                
                <a href="/users/about" class="nav-item nav-link cat3">About Us<b style="color:#f2f4f5">1</b></a>
            </div>
         <div class="navbar-form form-inline">  
          <div class="input-group search-box ">
                  <form class="search" action="/search" method="GET">
                     <input class="form-control searchplaceholder" type="text" placeholder="Search Title..." name="productName">
                     <button class="input-group-text search-btn" ><i class="fa" style="font-size:25px"> &#xf002; </i></button>
                   
                    </form>


          </div>
      </div>
            
            <div class="dropdown" style=" margin-bottom:10px;">

             
                           <% if (user) { %>
                           
                            <a href="/checkout" class="btn wishlist-btn" style="background-color: #e2bc77; margin-right: 20px; margin-left: 20px; 
                            margin-top: 9px; height: 100%; width:100%;  text-align: center; padding: 6px; color: white;"><i class="fa fa-heart"  style="color:black"></i> FavList(
                                <% if (typeof cart !== "undefined") { %>
                                <%= cart.length %>
                                <% } else {%>
                                0
                                <% } %>
                            )</a>
                            <% } else {%>
                             <a href="/checkout" class="btn wishlist-btn" style="background-color:#e2bc77; margin-right: 20px; margin-left: 20px; 
                            margin-top: 9px; height: 100%; width:100%;  text-align: center; padding: 6px;"><i class="fa fa-heart"  style="color:black" ></i> FavList</a>
                             <% }%>
                        
            </div>

                  <div class="navbar-nav ml-auto action-buttons">

                        <% if (user) { %>
                        <li><a href="/users/logout" class="td1 nav-link dropdown-toggle mr-4" ><i class="fa fa-user" style="font-size:23px;"></i>  <%= user.username %> <i class="fa fa-sign-out" style="font-size:23px;color:#e2bc77"></i></a></li>
                        <% } else {%>
                      <div class="box1">
                        <li>
                        <a href="/users/register"  class="td2 btn dropdown-toggle sign-up-btn">Sign Up</a>
                        </li>
                        </div>
                        <div class="box2">
                        <li><a href="/users/login"  class="td1 nav-link dropdown-toggle mr-4" >Log in</a></li>
                        </div>
                        <% } %>
                        <% if (user && user.admin == 1) { %>
                        <li><a href="/admin/pages"  class="td1 nav-link dropdown-toggle mr-4" >Admin Area</a></li>
                        <% }%>



            </div>  

 <script>
  function googleTranslateElementInit() {
            new google.translate.TranslateElement({ includedLanguages: 'en,my', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL }, 'google_translate_element');
        }

        function triggerHtmlEvent(element, eventName) {
            var event;
            if (document.createEvent) {
                event = document.createEvent('HTMLEvents');
                event.initEvent(eventName, true, true);
                element.dispatchEvent(event);
            } else {
                event = document.createEventObject();
                event.eventType = eventName;
                element.fireEvent('on' + event.eventType, event);
            }
        }
$(document).ready(function () {
            $(document).on('click', '.languageOption', function () {
                var value = $(this).attr("data-lang");

                updateLanguage(value);

            })


            function updateLanguage(value) {
                var selectIndex = 0;
                var a = document.querySelector("#google_translate_element select");
                switch (value) {
                    case "en":
                        selectIndex = 0;
                        break;
                    case "my":
                        selectIndex = 2;
                        break;
                  

                }
                a.selectedIndex = selectIndex;
                a.dispatchEvent(new Event('change'));
            }
        })
 </script>

<script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" type="text/javascript"></script>
        </nav>
      
            <%- messages('messages', locals) %>
            
            <% if (errors) {%>
                <% errors.forEach(function(error) { %>
                <div class="alert alert-danger">
                    <%= error.msg %>
                </div>
                <% });%>
            <% }%>
