<%- include ('_layouts/header'); -%>
<%- include ('_layouts/image'); -%>
<style>
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
.carousel-container {
  width: 2000px;
  margin: 50px auto;
  min-height: 300px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .carousel-container {
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .carousel-container {
    width: 100%;
  }
}
.carousel-container .carousel-inner {
  overflow: hidden;
}
.carousel-container .track {
  display: inline-flex;
  transition: transform 0.5s;
}
.carousel-container .card-container {
  width: 410px;
  flex-shrink: 0;
  height: 420px;
  padding-right:150px;
  box-sizing: border-box;
}
.carousel-container .card-container .card {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.nav button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #aaa;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.nav .prev {
  left: -30px;
  display: none;
}
.nav .prev.show {
  display: block;
}
.nav .next {
  right: -30px;
}
.nav .next.hide {
  display: none;
}
.card > * {
  flex: 1;
}
.card .img {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.card .info {
  
  flex-basis: 60px;
  background: #333;
  height: 200px;
  color: #fff;
  flex-grow: 2;
  padding: 10px;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
.carousel-container1 {
  width: 2000px;
  margin: 50px auto;
  min-height: 300px;
  position: relative;

}
@media screen and (max-width: 768px) {
  .carousel-container1 {
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .carousel-container1 {
    width: 100%;
  }
}
.carousel-container1 .carousel-inner1 {
  overflow: hidden;
}
.carousel-container1 .track1 {
  display: inline-flex;
  transition: transform 0.5s;
}

.carousel-container1 .card-container1 {
  width: 410px;
  flex-shrink: 0;
  height: 420px;
  padding-right:150px;
  box-sizing: border-box;
  
}
.carousel-container1 .card-container1 .card1 {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color:white;
   box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}


.nav .prev1 {
  left: -30px;
  display: none;
}
.nav .prev1.show {
  display: block;
}
.nav .next1 {
  right: -30px;
}
.nav .next1.hide {
  display: none;
}
.card1 > * {
  flex: 1;
}
.card1 .img {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.card1 .info {
  
  flex-basis: 60px;
  background: #333;
  height: 200px;
  color: #fff;
  flex-grow: 2;
  padding: 10px;
  box-sizing: border-box;
}

</style>
<header>
  <h1>Exciting Books</h1>
</header>

 <hr size="100" width="100%" align="center" color="black">
    <br>
<div class="carousel-container">
  <div class="carousel-inner">
    <div class="track">
       <% savedexcit.forEach(function(products){ %>
             <div class="card-container">
              <div class="card">
                 <a  href="/products/<%= products.category %>/<%= products.title %>">
                    <img class="pimage" src="/product_images/<%= products.id %>/<%= products.image %>" alt="">
                    </a>
                <br>
                <p1 style="text-align:center;font-size:20px;"><b><%= products.title %></b></p1>
               <a href="/products/<%= products.category %>/<%= products.title %> "  style="margin-left:-14px;text-align:center" >View Details</a>
        
            </div> 
          
            </div>
        <% }); %>  
    </div>
  </div>
  <div class="nav">
    <button class="prev">
      <i class="material-icons">
      keyboard_arrow_left
      </i>
    </button>
    <button class="next">
      <i class="material-icons">
      keyboard_arrow_right
      </i>
    </button>
  </div>
</div>

<br>
<header>
  <h1>Top Choice Books</h1>
</header>
 <hr size="100" width="100%" align="center" color="black">
    <br>
<div class="carousel-container1">
  <div class="carousel-inner1">
    <div class="track1">
    
    <% savedtop.forEach(function(products){ %>
               <div class="card-container1">
              <div class="card1">
                 <a  href="/products/<%= products.category %>/<%= products.title %>">
                    <img class="pimage" src="/product_images/<%= products.id %>/<%= products.image %>" alt="">
                    </a>
                <br>
                <p1 style="text-align:center;font-size:20px;"><b><%= products.title %></b></p1>
               <a href="/products/<%= products.category %>/<%= products.title %> "  style="margin-left:-14px;text-align:center" >View Details</a>
        
            </div> 
          
            </div>
        <% }); %>  
    </div>
  </div>
  <div class="nav">
    <button class="prev1">
      <i class="material-icons">
      keyboard_arrow_left
      </i>
    </button>
    <button class="next1">
      <i class="material-icons">
      keyboard_arrow_right
      </i>
    </button>
  </div>
</div>
<br>

<header>
  <h1>Upcoming Books</h1>
</header>
 <hr size="100" width="100%" align="center" color="black">
    <br>
 <div class="row">
   
  
         <% savedupcome.forEach(function(products){ %>
    
           <div class="column1">
            <div class="card">
                 <a class="pa" href="/products/<%= products.category %>/<%= products.title %>" style="width: 100%; height: 600px; padding:0 16px" >
                    <img class="pimage" style="width: 100%; height: 600px; padding:0 16px" src="/product_images/<%= products.id %>/<%= products.image %>" alt="">
                </a>

                <div class="container" style="font-size:19px; margin-left:20px">
                
                    <h2 class="bookt"><b><%= products.title %></b></h2>
                  
                    <br>
                    <p class="author"><b>Author       :  <%= products.author %></b></p>
                    <p class="publish"><b>Publish Date :<%= products.publishdate %></b></p>
                    <p id="date"></p>
                    <p class="cat"><b>Category     :  <%= products.category %> </b></p>
                    <p class="total"><b>Total Page   :  <%= products.totalpage %></b></p>
                </div>
            </div>
        </div>
            
        <% }); %>  
</div>





<script>
const prev  = document.querySelector('.prev');
const next = document.querySelector('.next');

const track = document.querySelector('.track');

let carouselWidth = document.querySelector('.carousel-container').offsetWidth;

const prev1  = document.querySelector('.prev1');
const next1 = document.querySelector('.next1');

const track1 = document.querySelector('.track1');

let carouselWidth1 = document.querySelector('.carousel-container1').offsetWidth;

window.addEventListener('resize', () => {
  carouselWidth = document.querySelector('.carousel-container').offsetWidth;
   carouselWidth1 = document.querySelector('.carousel-container1').offsetWidth;
})

let index = 0;

next.addEventListener('click', () => {
  index++;
  prev.classList.add('show');
  track.style.transform = `translateX(-${index * carouselWidth}px)`;
  
  if (track.offsetWidth - (index * carouselWidth) < carouselWidth) {
    next.classList.add('hide');
  }
})

prev.addEventListener('click', () => {
  index--;
  next.classList.remove('hide');
  if (index === 0) {
    prev.classList.remove('show');
  }
  track.style.transform = `translateX(-${index * carouselWidth}px)`;
})


next1.addEventListener('click', () => {
  index++;
  prev1.classList.add('show');
  track1.style.transform = `translateX(-${index * carouselWidth1}px)`;
  
  if (track1.offsetWidth - (index * carouselWidth1) < carouselWidth1) {
    next1.classList.add('hide');
  }
})

prev1.addEventListener('click', () => {
  index--;
  next1.classList.remove('hide');
  if (index === 0) {
    prev1.classList.remove('show');
  }
  track1.style.transform = `translateX(-${index * carouselWidth1}px)`;
})
</script>

	<%- include ('_layouts/footer'); -%>
