<%- include ('_layouts/header'); -%>

<form method="post" action="/add/<%= p.id %>" enctype="multipart/form-data">

<div class="row">
    
    
    <br>
    <div class="col-xs-12 col-md-5 space">
        <img class="spi" src="/product_images/<%= p.id %>/<%= p.image %>" alt="">
        <br>
         
    </div>
    <div class ="box" >
    <div class="col-xs-12 col-md-7">
     
        <div class="sub">
        <br>
        <h2><b><%= p.title %></b></h2>
        <p><%= p.desc %></p>
         <p class="author" style="font-size: 18px;"><b>Author       :  <%= p.author %></b></p>
                    <p class="cat" style="font-size: 18px;" ><b>Category     :  <%= p.category %> </b></p>
                    <p class="total" style="font-size: 18px;" ><b>Total Page   :  <%= p.totalpage %></b></p>
                    <br>
        <b>Rating:<span class="stars-container stars-<%= p.rating %>">&#9733&#9733&#9733&#9733&#9733</span> <%= p.rating %>/5</b>
        <br>
        <br>
        </div>
        <div class="action_btn">
        <% if (loggedIn) { %>
        
        </p>
           <% if (user.plan == 'none') { %>
             <p class="par"> you are currently no plan , please subscribe one of the plan to start reading </p>
             <a href="/users/plan" class="btn action_btn read" >Subscribe</a>
               
           <% } else {%>
              <a href="/product_images/<%= p._id %>/<%= p.pdf %>#toolbar=0" class="btn action_btn read" >Start Read</a> 
                 <!--<a href="https://docs.google.com/viewer?url=https://github.com/florapann96/demotest/raw/main/public/product_images/<%= p._id %>/<%= p.pdf %>"  class="btn action_btn read" >Start Read</a>-->
               
           <% } %>
            <p> <button id="btnOK" onclick="window.location.href='/cart/add/<%= p.slug %>';" class="btn action_btn favbtn">Fav <i class="fa fa-heart"></i></button>
        <% } else {%>
        <p>You must be logged in to read books</p>
       <% } %>
       </div>
    </div>
    </div>
    <div class="col-xs-12">
        <ul class="gallery">
            <% galleryImages.forEach(function(image){ %>
            <% if (image != "thumbs") { %>
            <li>
                <a data-fancybox="gallery" href="/product_images/<%= p.id %>/gallery/<%= image %>">
                    <img src="/product_images/<%= p.id %>/gallery/thumbs/<%= image %>" alt="">
                </a>
            </li>
            <% } %>
            <% }); %>
        </ul>
    </div>
</div>

</form>

	<%- include ('_layouts/footer'); -%>
